:root{
    font-size: 20px;
}

body{
    margin: 0;
}

.page-container{

    /* background-color: fuchsia; */
    
}

.company-name-container{
    background-color: midnightblue;
    font-family: "Bauhaus 93", sans-serif;
    font-size: 8vw;
    padding: .5em 1em;
}

.main-nav{
    background-color: rgb(2, 2, 44);
    height: 80px;
}

.main-content-container{

    background-color: rgb(224, 224, 248);
    /* height: 100vh; */
}

.main-footer{
    background-color: midnightblue;
    height: 150px;

}

.float-container{
    /* background-color: chartreuse; */
    padding: 1em;
}

.float-container::after{
    display: block;
    content: "";
    clear: both;
}

.text-box{
    /* background-color: cyan; */
    float: left;
    width: 50%;
    padding: 1em;
    box-sizing: border-box;
}

.float-item{
    padding: 1.5rem;
    width: 25%;
    float: left;
    /* background-color: chocolate; */
    box-sizing: border-box;
}

.inner{
    /* background-color: rgb(218, 255, 181); */
}

.flex-container{
    display: flex;
    justify-content: space-around;
    background-color: rgb(190, 190, 231);
    padding: 1em;
}

.flex-container:nth-child(even){
    background-color: rgb(215, 215, 243);
}

.flex-box-2{
    width: 50%;
    box-sizing: border-box;
    background-color: darkcyan;
    padding: 1.5rem;
}

.textbox{
    /* background-color: darkorange; */
    padding: 1em;
}

.flex-img-container-4{
    width: 25%;
    box-sizing: border-box;
    background-color: black;
    padding: .5em;
}

.flex-img-container-4>.img-box{
    width: 100%;
    box-sizing: border-box;
    /* background-color: orangered; */
    /* border: 2px solid orangered; */
}

.img-box>img{
    width: 100%;
    display: block;
}


@media screen and (max-width: 1000px){


    .text-box{
        width: 100%;
    }

    
    .float-item{
        width: 50%;
        text-align: justify;
    }

    
    .flex-container{
        flex-wrap: wrap;
    }

    
    .flex-box-2{
        width: 100%;
    }

    
    .flex-img-container-4{
        width: 50%;
    }
    



}